@model IEnumerable<PersonResponse>


@{
    ViewBag.Title = "All Persons";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.8/css/dataTables.dataTables.min.css"/>
}

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="https://cdn.datatables.net/2.3.8/js/dataTables.min.js"></script>
    <script>
        new DataTable('#persons');
    </script>
}


<div class="row">
    <div class="col-md-12">
        <h2>All Persons
            <a href="/persons/create" class="btn btn-outline-info">Add New Person</a>
        </h2>
        
        <form method="get" action="/persons/index" class="row g-2 mb-3 mt-2">
            <div class="col-md-3">
                <select name="searchBy" class="form-select">
                    @foreach (var field in @ViewBag.searchFields)
                    {
                        <option value="@field.Key">@field.Value</option>
                        
                    }
                    
                    <option value="Email">Email</option>
                    <option value="Gender">Gender</option>
                    <option value="Country">Country</option>
                    <option value="Address">Address</option>
                </select>
            </div>
            <div class="col-md-6">
                <input
                    type="text"
                    name="searchString"
                    class="form-control"
                    placeholder="Search..."
                />
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary w-100">
                    Search
                </button>
            </div>
        </form>
        <table class="table table-bordered table-striped mt-2">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Country</th>
                <th scope="col">Address</th>
                <th scope="col">Receive News Letters</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@person.Name</td>
                    <td>@person.Email</td>
                    <td>@person.DateOfBirth?.ToString("d-yyyy-MM")</td>
                    <td>@person.Age</td>
                    <td>@person.Gender</td>
                    <td>@person.Country</td>
                    <td>@person.Address</td>
                    <td>@person.ReceiveNewsLetter</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>